<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>수정 페이지 update.html</h2>
<form action="/board/update" method="post">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">
    글제목:<input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}" ><br>
    작성자:<input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly><br>
    비밀번호:<input type="text" id="boardPassword" name="boardPassword" th:value="${boardUpdate.boardPassword}" readonly><br>
    글내용:<input type="text" name="boardContents" th:value="${boardUpdate.boardContents}"><br>
    <input type="button" onclick="updateById()" value="글수정">
</form>
</body>
<script th:include="javascript">
</script>
</html>